*{
  margin: 0;
  padding: 0;
}
body {
  /* 	background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%); */
  background: url(https://static.pexels.com/photos/5782/nature-flowers-vintage-plant.jpg);
  background-attachment: fixed;
  background-size:cover;
  margin: 0;
}

.contenedor{
  padding:10px;
  width: 980px;
  max-width: calc(100% - 20px);
  margin: auto;
  margin-top: 50px;
  color: #FFC0CB;
  font-family: sans-serif;
}
.concursantes{
  margin-top: 20px;
  text-align: center;
  margin: auto;
  position: relative;
}
h1{
  text-align: center;
}
canvas{
  margin-top: 10px;
  position: relative;
  z-index: 1;
}
button{
  position: relative;
  padding: 10px 20px;
  font-size: 18px;
  background:#FF69B4;
  color: #RRGGBB;
  border-style: none;
  z-index: 10;
  cursor: pointer;
  margin-top: 10px;
}
.mark-winner{
  position: absolute;
  clip-path: polygon(0 10px,60px 0,60px 20px);
  background: red;
  width: 60px;
  height: 20px;
  top: 50%;
  right: 18%;
  z-index: 10;
  box-shadow: 0 0 3px #33333399;
}